$background: rgb(248, 248, 248);
$white: white;
$box-shadow: rgba(54, 53, 53, 0.5);
$inherit: inherit;
$light-pink-hover: rgb(194, 58, 58);
$active-grey: rgb(126, 126, 130);
$green-border: rgb(65, 246, 215);
$black: black;
$pink: rgb(255, 62, 121);
$background-brown: rgba(255, 62, 121, 0.1);
$grey-button: rgb(27, 28, 33);
$red: red;
$light-green-border: rgb(217, 255, 245);
$light-red: rgb(255, 51, 51);
