.btn {
  text-decoration: none;
  color: $grey-button;
  border: none;
  background-color: $inherit;
  cursor: pointer;
  &:hover {
    color: $red;
    transition: 1s;
  }
}

.btn-order {
  font-size: 12px;
  line-height: 24px;
  letter-spacing: -0.15px;
  text-transform: uppercase;
  color: $white;
  padding: 4px 10px 4px 12px;
  background-color: $pink;
  border-radius: 15px;
  display: block;
  margin-left: auto;
  border: none;
  cursor: pointer;
  transition: transform 1s ease-in-out;
  &:hover {
    transform: scale(1.1) translateX(5px) translateY(-5px);
  }
  &::after {
    content: url(../img/dropdownwhite.svg);
    margin-left: 10px;
  }
}
