.feedback {
  box-shadow: 0px 20px 15px rgba(54, 53, 53, 0.5);
  border-left: 0.5px solid rgb(148, 219, 207);
  position: fixed;
  display: none;
  min-height: 100vh;
  top: 0;
  right: 0;

  &__title {
    margin: 40px 0 24px 0;
    padding-left: 12px;
    margin-left: -16px;
  }

  &__btn {
    border: none;
    background-color: $inherit;
  }

  &__input {
    border: 1px solid rgb(234, 234, 234);
    padding-left: 16px;
    width: 100%;
    max-width: 290px;
    border-radius: 12px;
    height: 50px;
    margin-bottom: 16px;
    &:focus {
      outline: none;
    }
  }

  &__message {
    height: 120px;
    padding-bottom: 80px;
    &:focus {
      top: 12px;
    }
    &::placeholder {
      position: absolute;
      top: 12px;
      text-align: start;
      vertical-align: top;
    }
  }

  &__info {
    max-width: 280px;
    font-size: 14px;
    margin: 16px 0;
  }

  &__text-red {
    color: $light-red;

    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }
}
.feedback-padding {
  max-width: 320px;
  margin: 0 auto;
  padding: 24px 16px 130px 16px;
  background-color: $background;
}

@media (min-width: 600px) {
  .feedback-padding {
    max-width: 440px;
  }
  .feedback__input,
  .feedback__info {
    max-width: 380px;
  }
  .feedback__close {
    position: absolute;
    top: 44px;
    left: -64px;
  }

  .feedback__title {
    margin-top: 0;
  }
}

