.main {
  &__wrap {
    margin: 30px 25px 0 32px;
    display: flex;
    flex-direction: column;
  }

  &__text {
    max-width: 490px;
    font-size: 16px;
    &-paragraph:nth-child(2) {
      margin-top: 15px;
    }
  }

  &__text-next {
    margin: 20px 0;
    margin-left: 25px;
    position: relative;
    font-size: 16px;
    font-weight: 600;
    border: none;
    background-color: $background;
    cursor: pointer;
    &::before {
      content: '';
      position: absolute;
      left: -30px;
      top: 50%;
      transform: translateY(-50%);
      width: 24px;
      height: 24px;
      background-image: url('../img/next.svg');
      background-size: contain;
      background-repeat: no-repeat;
    }
  }

  &__img img {
    max-width: 100%;
    padding-bottom: 32px;
  }
}

@media (min-width: 320px) {
  .main__text-visible,
  .main__text-hidden {
    display: none;
  }
}

@media (min-width: 400px) {
}

@media (min-width: 600px) {
  .main__wrap {
    margin: 20px 25px;
  }
}

@media (min-width: 680px) {
  .main__wrap {
    flex-direction: row;
  }
  .main__text {
    margin-right: 20px;
  }
}

@media (min-width: 768px) {
  .main__text-visible {
    display: block;
  }
}

@media (min-width: 1120px) {
  .main__text-visible,
  .main__text-hidden {
    display: inline;
  }
}
