@charset "UTF-8";
@font-face {
  font-family: "TTLakes";
  src: url("../fonts/TTLakes-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: TTLakes, sans-serif;
  background-color: rgb(248, 248, 248);
}

.container-aside {
  display: none;
  left: 0;
  top: 0;
  width: 320px;
  z-index: 999;
  min-height: 100vh;
}

.container-aside__visible {
  display: flex;
  flex-direction: column;
  flex: 0 1 320px;
  position: fixed;
}

.side {
  padding: 18px 24px 0px 24px;
  background-color: white;
  box-shadow: 20px 0 15px rgba(54, 53, 53, 0.5);
  max-height: 100vh;
  display: flex;
  flex-direction: column;
}
.side__wrap {
  display: flex;
  align-items: center;
}
.side__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.side__btn {
  border: none;
  background-color: inherit;
  cursor: pointer;
}
.side__menu-list {
  list-style: none;
}
.side__menu-item {
  padding: 5px;
  margin-top: 22px;
}
.side__menu-item:hover {
  background-color: rgb(255, 232, 232);
  border-radius: 10px;
  transition: 1s;
  cursor: pointer;
}
.side__menu {
  flex: 1;
}
.side__menu_active {
  color: rgb(126, 126, 130);
  border-left: 3px solid rgb(65, 246, 215);
  padding-left: 24px;
  margin-left: -24px;
}
.side__footer {
  padding-bottom: 20px;
  margin-top: 10px;
}
.side__footer-images {
  display: flex;
  list-style: none;
}
.side__message {
  margin: 0 16px;
}
.side__email {
  display: inline-block;
  margin: 16px 0 12px 0;
  font-size: 16px;
  text-decoration: none;
  color: black;
}
.side__tel {
  display: block;
  margin: 12px 0 20px 0;
  font-size: 24px;
  line-height: 32px;
  font-weight: bolder;
  text-decoration: none;
  color: black;
}

.icon {
  background-color: rgb(255, 62, 121);
  border-radius: 50%;
  padding: 11px;
  transition: 2s;
}

.icon:hover {
  transform: rotate(360deg);
}

.logo {
  margin-right: auto;
  margin-left: 15px;
}

.languages {
  display: flex;
  list-style: none;
}
.languages__list:not(:last-child) {
  margin-right: 7px;
}

.active-grey {
  color: rgb(126, 126, 130);
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
}

.container {
  max-width: 1120px;
  margin: 0 auto;
}

.header__wrap {
  padding: 42px 25px 0 32px;
  display: flex;
  justify-content: space-between;
}
.header__leftside {
  display: flex;
  text-align: center;
  align-items: center;
}
.header__leftside button, .header__leftside li:not(:last-child) {
  margin-right: 25px;
  cursor: pointer;
}
.header__icon-cps {
  border-left: 2px solid rgb(234, 234, 234);
  margin-right: -25px;
  padding-left: 25px;
}
.header__rightside {
  display: flex;
  text-align: center;
  align-items: center;
}
.header__rightside li {
  list-style: none;
}
.header__rightside li:not(:last-child) {
  margin-right: 25px;
  cursor: pointer;
}

.card {
  padding: 17px;
  border: 1px solid rgb(234, 234, 234);
  border-radius: 10px;
  margin: 0 24px 16px 0;
  width: 224px !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 72px !important;
}
.card img {
  max-width: 110px;
}
.card__btn {
  border: none;
  background-color: inherit;
  cursor: pointer;
}
.card__info {
  padding: 11px 12.5px 11px 14px;
  border: 2px solid rgb(255, 62, 121);
  border-radius: 50%;
  margin: 0 10px;
  cursor: pointer;
  transition: all 1s ease-in-out;
}
.card__info:hover {
  border-color: rgb(229, 46, 113);
  background-color: rgba(255, 62, 121, 0.1);
  transform: scale(1.1);
}
.card__hidden {
  display: none;
}
.card__hidden {
  display: none;
}

.services {
  margin: 42px 25px 0 32px;
}
.services__wrap {
  margin: 42px 25px 0 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.services__info {
  display: flex;
  cursor: pointer;
}
.services__info-wrap {
  display: flex;
  align-items: center;
}
.services:not(:last-child) {
  margin-right: 32px;
}
.services button {
  margin-right: 8px;
  font-size: 16px;
}
.services__icon-left {
  padding: 10px;
}
.services__icon-right {
  padding: 10px 12px;
}

.title-main {
  border-left: 3px solid rgb(65, 246, 215);
}

.btn {
  text-decoration: none;
  color: rgb(27, 28, 33);
  border: none;
  background-color: inherit;
  cursor: pointer;
}
.btn:hover {
  color: red;
  transition: 1s;
}

.service-nav li:not(:last-child) {
  margin: 30px 0;
}
.service-nav a {
  text-decoration: none;
  color: rgb(126, 126, 130);
  padding: 8px 16px;
  font-size: 16px;
  white-space: nowrap;
}
.service-nav a:hover {
  color: rgb(0, 0, 0);
  transition: 1s;
}
.service-nav__wrap {
  list-style: none;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.active {
  border: 2px solid rgb(184, 255, 236);
  background-color: white;
}

.blurred {
  filter: opacity(5%);
  pointer-events: none;
}

.main__wrap {
  margin: 30px 25px 0 32px;
  display: flex;
  flex-direction: column;
}
.main__text {
  max-width: 490px;
  font-size: 16px;
}
.main__text p:nth-child(2) {
  margin-top: 15px;
}
.main__text-next {
  margin: 20px 0;
  margin-left: 25px;
  position: relative;
  font-size: 16px;
  font-weight: 600;
  border: none;
  background-color: rgb(248, 248, 248);
  cursor: pointer;
}
.main__text-next::before {
  content: "";
  position: absolute;
  left: -30px;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  background-image: url("../img/next.svg");
  background-size: contain;
  background-repeat: no-repeat;
}
.main__img img {
  max-width: 100%;
  padding-bottom: 32px;
}

.title {
  border-top: 1px solid rgb(217, 255, 245);
  background: linear-gradient(to right, rgb(248, 248, 248), rgb(255, 255, 255));
  color: rgb(126, 126, 130);
  text-transform: uppercase;
  background-color: white;
  padding: 20px 0 20px 20px;
  font-size: 16px;
}

.swiper-slide {
  display: flex !important;
}

.swiper-pagination-bullets {
  padding: 16px 0 24px 0;
}

.cards {
  padding-left: 20px;
  margin: 50px 0;
}

.expand-brand {
  display: none;
  padding: 0 0 32px 20px;
}
.expand-brand button {
  border: none;
  background-color: inherit;
  cursor: pointer;
}

.expand__text-brand {
  transition: all 1s ease-in-out;
  margin-left: 8px;
}
.expand__text-brand:hover {
  color: rgb(255, 51, 51);
}
.expand__text-repair {
  transition: all 1s ease-in-out;
  margin-left: 8px;
}
.expand__text-repair:hover {
  color: rgb(255, 51, 51);
}

.card-price__info svg {
  position: absolute;
  top: 15px;
  right: 0;
}

.card-repair {
  height: 160px !important;
  align-items: normal;
  position: relative;
}
.card-repair__info,
.card-repair .card-price__info {
  position: absolute;
  top: 105px;
  right: 5px;
}
.card-repair__hidden-768 {
  display: none;
}

.expand-repair {
  display: none;
  padding: 0 0 32px 20px;
}
.expand-repair button {
  border: none;
  background-color: inherit;
  cursor: pointer;
}

.cards-wrap {
  display: none;
}

.card-price {
  padding: 17px;
  border: 1px solid rgb(234, 234, 234);
  border-radius: 10px;
  margin: 0 24px 16px 0;
  width: 260px !important;
  min-height: 200px;
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-direction: column;
}
.card-price__title::before {
  display: block;
  content: "Ремонтные услуги";
  color: rgb(126, 126, 130);
}
.card-price__text::before {
  display: block;
  content: "Цена ";
  color: rgb(126, 126, 130);
}
.card-price__wrap {
  display: flex;
  align-items: flex-end;
  gap: 25px;
}
.card-price__time {
  display: block;
  content: "Срок ";
  color: rgb(126, 126, 130);
}

.btn-order {
  font-size: 12px;
  line-height: 24px;
  letter-spacing: -0.15px;
  text-transform: uppercase;
  color: white;
  padding: 4px 10px 4px 14px;
  background-color: rgb(255, 62, 121);
  border-radius: 15px;
  display: block;
  margin-left: auto;
  border: none;
  cursor: pointer;
  transition: transform 1s ease-in-out;
}
.btn-order:hover {
  transform: scale(1.1) translateX(5px) translateY(-5px);
}
.btn-order::after {
  content: url(../img/dropdownwhite.svg);
  margin-left: 10px;
}

.price {
  padding: 0 16px;
}
.price__info {
  max-width: 480px;
}
.price__btn {
  margin: 20px 0 80px 0;
  font-size: 15px;
  font-weight: bold;
  text-align: left;
}
.price__btn::after {
  content: url(../img/dropdown.svg);
  margin-left: 10px;
}

.footer__wrap {
  display: flex;
  flex-direction: column;
  padding-bottom: 40px;
  align-items: center;
}
.footer__list {
  margin-bottom: 20px;
  list-style: none;
}
.footer__text {
  color: rgb(126, 126, 130);
  text-align: center;
  font-size: 14px;
  max-width: 320px;
}
.footer__text span {
  display: block;
}

.feedback {
  box-shadow: 0px 20px 15px rgba(54, 53, 53, 0.5);
  border-left: 0.5px solid rgb(148, 219, 207);
  position: fixed;
  display: none;
  min-height: 100vh;
  top: 0;
  right: 0;
}
.feedback__title {
  margin: 40px 0 24px 0;
  padding-left: 12px;
  margin-left: -16px;
}
.feedback__btn {
  border: none;
  background-color: inherit;
}
.feedback__input {
  border: 1px solid rgb(234, 234, 234);
  padding-left: 16px;
  width: 100%;
  max-width: 290px;
  border-radius: 12px;
  height: 50px;
  margin-bottom: 16px;
}
.feedback__input:focus {
  outline: none;
}
.feedback__message {
  height: 120px;
  padding-bottom: 80px;
}
.feedback__message:focus {
  top: 12px;
}
.feedback__message::placeholder {
  position: absolute;
  top: 12px;
  text-align: start;
  vertical-align: top;
}
.feedback__info {
  max-width: 280px;
  font-size: 14px;
  margin: 16px 0;
}
.feedback__text-red {
  color: rgb(238, 66, 66);
}
.feedback__text-red:hover {
  text-decoration: underline;
  cursor: pointer;
}

.feedback-padding {
  max-width: 320px;
  margin: 0 auto;
  padding: 24px 16px 130px 16px;
  background-color: rgb(255, 255, 255);
}

@media (min-width: 320px) {
  .service-nav {
    overflow-x: scroll;
    flex-wrap: nowrap;
  }
  .service-nav__wrap {
    flex-wrap: nowrap;
  }
  .header__rightside li:nth-child(1),
  .header__rightside li:nth-child(2),
  .header__rightside li:nth-child(3) {
    display: none;
  }
  .header__wrap {
    justify-content: space-between;
    padding: 35px 20px 0 25px;
  }
  .header__rightside {
    margin-left: 30px;
  }
  .header__rightside li:nth-child(4) {
    margin: 0 10px;
  }
  .header__icon-cps {
    padding-right: 15px;
  }
  .header__icon-cps {
    border-left: none;
    border-right: 2px solid rgb(234, 234, 234);
    margin-left: -30px;
    padding-right: 10px;
  }
  .services__info {
    display: none;
  }
  .services__title {
    font-size: 24px;
  }
  .services__title {
    margin-left: -63px;
    padding-left: 30px;
  }
  .main__text-visible,
  .main__text-hidden {
    display: none;
  }
  .side {
    min-height: 100vh;
  }
}
@media (min-width: 400px) {
  .price__btn {
    font-size: 18px;
  }
}
@media (min-width: 600px) {
  .main__wrap {
    margin: 20px 25px;
  }
  .feedback-padding {
    max-width: 440px;
  }
  .feedback__input,
  .feedback__info {
    max-width: 380px;
  }
  .feedback__close {
    position: absolute;
    top: 44px;
    left: -64px;
  }
  .feedback__title {
    margin-top: 0;
  }
}
@media (min-width: 680px) {
  .main__wrap {
    flex-direction: row;
  }
  .main__text {
    margin-right: 20px;
  }
}
@media (min-width: 768px) {
  .cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .expand-brand,
  .expand-repair {
    display: flex;
    align-items: center;
  }
  .card__hidden-768 {
    display: none;
  }
  .card__info {
    padding: 12px 13.5px 12px 15px;
  }
  .main__text-visible {
    display: block;
  }
  .header__rightside li:nth-child(1),
  .header__rightside li:nth-child(2),
  .header__rightside li:nth-child(3) {
    display: block;
  }
  .header__rightside li:nth-child(3) {
    border-right: 2px solid rgb(234, 234, 234);
    padding-right: 25px;
  }
  .header__rightside li:nth-child(4) {
    margin: 0 25px 0 0;
  }
  .header__icon-cps {
    border-left: 2px solid rgb(234, 234, 234);
    margin-left: 0px;
    padding-left: 25px;
    border-right: none;
  }
  .footer__wrap {
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    gap: 10px;
    padding: 0 10px;
  }
  .footer__text {
    max-width: 220px;
  }
  .cards-price {
    display: block;
  }
  .cards {
    margin-top: 10px;
  }
  .card-price {
    flex-direction: row;
    width: 100% !important;
    align-items: center;
    min-height: 100%;
  }
  .card-price__wrap {
    align-items: center;
    flex: 0 0 30%;
  }
  .card-price__title::before,
  .card-price__text::before,
  .card-price__time::before {
    content: "";
  }
  .card-price__title {
    max-width: 350px;
    flex: 0 0 50%;
  }
  .card-price__text {
    flex: 0 0 20%;
  }
  .cards-wrap {
    display: flex;
    padding: 16px 0 0px 35px;
    margin-top: 20px;
    color: rgb(126, 126, 130);
  }
  .cards-wrap p:nth-child(1) {
    flex: 0 0 50%;
  }
  .cards-wrap p:nth-child(2) {
    flex: 0 0 20%;
  }
  .cards-wrap p:nth-child(3) {
    flex: 0 0 30%;
  }
}
@media (min-width: 900px) {
  .cards-wrap p:nth-child(1) {
    flex: 0 0 45%;
  }
  .cards-wrap p:nth-child(2) {
    flex: 0 0 23%;
  }
}
@media (min-width: 1012px) {
  .card__hidden-768 {
    display: flex;
  }
  .card {
    min-width: 220px;
    flex: 0 0 20%;
  }
}
@media (min-width: 1120px) {
  .service-nav {
    overflow: hidden;
  }
  .service-nav__wrap {
    flex-wrap: wrap;
  }
  .main__text-visible,
  .main__text-hidden {
    display: inline;
  }
  header {
    display: none;
  }
  .services__info {
    display: flex;
  }
  .cards-wrap p:nth-child(1) {
    flex: 0 0 42%;
  }
  .cards-wrap p:nth-child(2) {
    flex: 0 0 27%;
  }
  .cards-wrap p:nth-child(3) {
    flex: 0 0 31%;
  }
}
@media (min-width: 1440px) {
  body {
    min-height: 100%;
    display: flex;
  }
  .container-aside {
    display: flex;
    flex-direction: column;
    flex: 0 1 320px;
  }
  .side {
    box-shadow: none;
    min-height: 100%;
  }
  .side__close {
    display: none;
  }
  .side__footer {
    flex-grow: 1;
  }
  .logo {
    margin-left: 0;
  }
  .card-repair__hidden-768 {
    display: block;
  }
}

/*# sourceMappingURL=style.css.map */
